.super-mario {
  position: absolute;
  width: 300px;
  height: 300px;
}

.goomba {
  position: absolute;
  width: 300px;
  height: 300px;
}

.baloon {
  position: absolute;
  width: 200px;
  height: 200px;
}

.bowser {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 5000px;
}

.word {
  font-size: 20px;

}