.super-mario {
  position: absolute;
  width: 300px;
  height: 300px;
}

.goomba {
  position: absolute;
  width: 300px;
  height: 300px;
}

.baloon {
  position: absolute;
  
  width: 300px;
  height: 300px;
}

.bowser {
  width: 300px;
  height: 300px;
}

.word {

}