.super-mario {
  top: 60px;
  position: absolute;
  width: 200px;
  height: 300px;
}

.goomba {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: 90px;
  top: 350px
  
}

.baloon {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 10px;
  top: 50px
  z-index: 2;
}

.bowser {
  position: absolute;
  left: 500px;
  height: 400px;
  top: 300px;
  width: 200px
  
  
  
}

.word {
  position: absolute;
  top: 130px;
  font-size: 15px;
  left: 400px;
  z-index: 1;

}