html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
  margin: 5px;
}

h1 {
  margin: 6px;
}

h2 {
  margin: 6px;
}

li {
  font-size: 28px;
}

p {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 5px;
}

li {
  margin: 2px;
}

footer p {
  font-size: medium;
}

aside h2 {
  font-size: 25px;
}


@media screen and  (min-width:376px) {
  .container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
    margin: 5px;
  }

  h1 {
    margin: 6px;
  }
  
  h2 {
    margin: 6px;
  }
  
  li {
    font-size: 27px;
  }
  
  p {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
  }
  
  li {
    margin: 2px;
  }

  footer p {
    font-size: medium;
  }
  aside h2 {
    font-size: 28px;
  }
  
  
}

@media screen and  (min-width:1024px) {
  .container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color:aqua;
    margin: 5px;
  }

  h1 {
    margin: 6px;
  }
  
  h2 {
    margin: 6px;
  }
  
  li {
    font-size: 30px;
  }
  
  p {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
  }
  
  li {
    margin: 2px;
  }

  footer p {
    font-size: medium;
  }

  aside h2 {
    font-size: 30px;
  }
  
}  