html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}

li {
  font-size: x-large;
}

p {
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
  margin: 2px;
}